{% extends 'en/base.html' %}

{% block title %}Convert BMP to webp - ToolsForImage{% endblock %}

{% block meta_description %}
<meta name="description" content="Convert BMP to webp images easily with ToolsForImage. Free online BMP to webp converter.">
{% endblock %}

{% block content %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PR74FHGP0L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-PR74FHGP0L');
    </script>

    <h1>BMP to webp Conversion Tool</h1>
    <p>Easily convert your BMP images to webp format. Upload a BMP image and we'll convert it to webp for you.</p>
    <form id="conversion-form" action="/convert-image" method="post" enctype="multipart/form-data">
        <input type="file" id="image-upload" name="image" accept="image/bmp" style="display: none;" onchange="previewImage(event)">
        <button type="button" class="upload-button" onclick="document.getElementById('image-upload').click();">Upload BMP Image</button>
        <br>
        <img id="image-preview" class="image-preview" src="#" alt="Image Preview">
        <br>
        <input type="hidden" name="input_format" value="bmp">
        <input type="hidden" name="output_format" value="webp">
        <button type="submit" class="convert-button" onclick="return validateImageSelection();">Convert to webp</button>
    </form>

    <script>
        function validateImageSelection() {
            const imageUpload = document.getElementById('image-upload');
            if (!imageUpload.value) {
                alert('Please select a BMP image to upload.');
                return false;
            }
            return true;
        }

        function previewImage(event) {
            const imagePreview = document.getElementById('image-preview');
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        }
    </script>

    <style>
        .upload-button {
            background-color: var(--link-hover-color);
            color: var(--background-color);
            padding: 20px 40px;
            border: none;
            cursor: pointer;
            font-size: 20px;
            transition: transform 0.3s;
        }

        .upload-button:hover {
            transform: scale(1.1);
        }

        .convert-button {
            background-color: var(--background-color);
            color: var(--box-hover-color);
            border: 2px solid var(--box-hover-color);
            padding: 10px 20px;
            cursor: pointer;
            font-size: 20px;
            transition: transform 0.3s;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .image-preview {
            margin-top: 20px;
            max-width: 100%;
            max-height: 300px;
            display: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
{% endblock %}
