{% extends "en/base.html" %}

{% block meta_description %}
<meta name="description" content="404 - Page Not Found. The requested page doesn't exist on ToolsForImage.">
{% endblock %}

{% block title %}404 - Page Not Found - ToolsForImage{% endblock %}

{% block content %}
<div style="text-align: center; padding: 2em;">
    <h1>404 - Page Not Found</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <p>Let's get you back on track:</p>
    <p><a href="/">Return to Homepage</a></p>
</div>

<div>
    <h1>Our other Image Tools</h1>
    <ul class="tools-list">
        <li><a href="/image-compression">Image Compression</a></li>
        <li><a href="/image-resize">Image Resize</a></li>
        <li><a href="/convert-image-format">Convert Image Format</a></li>
        <li><a href="/image-rotate">Image Rotate</a></li>
        <li><a href="/image-watermarking">Image Watermarking</a></li>
        <li><a href="/image-effects">Image Effects</a></li>
        <li><a href="/image-crop">Image Crop</a></li>
        <li><a href="/blur-face">Blur Face</a></li>
    </ul>
    <br>
    <h2 style="text-align: center;">Image Format Conversion Tools</h2>
    <ul class="tools-list">
        <li><a href="/convert/png-to-jpg">Convert PNG to JPG</a></li>
        <li><a href="/convert/png-to-jpeg">Convert PNG to JPEG</a></li>
        <li><a href="/convert/png-to-bmp">Convert PNG to BMP</a></li>
        <li><a href="/convert/png-to-tiff">Convert PNG to TIFF</a></li>
        <li><a href="/convert/png-to-webp">Convert PNG to WebP</a></li>
        <li><a href="/convert/jpg-to-png">Convert JPG to PNG</a></li>
        <li><a href="/convert/jpg-to-jpeg">Convert JPG to JPEG</a></li>
        <li><a href="/convert/jpg-to-bmp">Convert JPG to BMP</a></li>
        <li><a href="/convert/jpg-to-tiff">Convert JPG to TIFF</a></li>
        <li><a href="/convert/jpg-to-webp">Convert JPG to WebP</a></li>
        <li><a href="/convert/jpeg-to-png">Convert JPEG to PNG</a></li>
        <li><a href="/convert/jpeg-to-jpg">Convert JPEG to JPG</a></li>
        <li><a href="/convert/jpeg-to-bmp">Convert JPEG to BMP</a></li>
        <li><a href="/convert/jpeg-to-tiff">Convert JPEG to TIFF</a></li>
        <li><a href="/convert/jpeg-to-webp">Convert JPEG to WebP</a></li>
        <li><a href="/convert/bmp-to-png">Convert BMP to PNG</a></li>
        <li><a href="/convert/bmp-to-jpg">Convert BMP to JPG</a></li>
        <li><a href="/convert/bmp-to-jpeg">Convert BMP to JPEG</a></li>
        <li><a href="/convert/bmp-to-tiff">Convert BMP to TIFF</a></li>
        <li><a href="/convert/bmp-to-webp">Convert BMP to WebP</a></li>
        <li><a href="/convert/tiff-to-png">Convert TIFF to PNG</a></li>
        <li><a href="/convert/tiff-to-jpg">Convert TIFF to JPG</a></li>
        <li><a href="/convert/tiff-to-jpeg">Convert TIFF to JPEG</a></li>
        <li><a href="/convert/tiff-to-bmp">Convert TIFF to BMP</a></li>
        <li><a href="/convert/tiff-to-webp">Convert TIFF to WebP</a></li>
        <li><a href="/convert/webp-to-png">Convert WebP to PNG</a></li>
        <li><a href="/convert/webp-to-jpg">Convert WebP to JPG</a></li>
        <li><a href="/convert/webp-to-jpeg">Convert WebP to JPEG</a></li>
        <li><a href="/convert/webp-to-bmp">Convert WebP to BMP</a></li>
        <li><a href="/convert/webp-to-tiff">Convert WebP to TIFF</a></li>
    </ul>
</div>

<style>
    h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    a {
        color: var(--link-color);
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    li {
        line-height: 1.6;
    }

    .tools-list {
        display: grid;
        /* Use grid layout */
        grid-template-columns: repeat(3, 1fr);
        /* Three columns */
        gap: 20px;
        /* Space between grid items */
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        /* Center the grid */
        max-width: 1200px;
        /* Optional: set a max width for the grid */
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        /* Flexbox to center content */
        flex-direction: column;
        /* Stack children vertically */
        align-items: center;
        /* Center items horizontally */
    }

    .tools-list li:hover {
        background-color: var(--primary-color);
    }

    .tools-list a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        text-align: center;
        /* Center text */
    }

    .tools-list a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
</style>
{% endblock %}
