<footer>
    <div class="footer-container">
        <div class="company-info">
            <a href="https://toolsforimage.com"><img src="/static/favicon.ico" alt="Box 20 Logo" class="logo"></a>
            <p class="description">ToolsForImage provides a set of free online image tools consisting of conversions and editing tools, supporting all formats and conversions. We don't save your data at all.</p>
        </div>
        <div class="footer-section">
            <h3>Navigate</h3>
            <div class="navigate-columns">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/legal">Legal</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                </ul>
                <ul>
                    <li><a href="/our-story">Our Story</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/languages">Languages</a></li>
                    <li><a href="/tools">Tools</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <h3>Tools</h3>
            <div class="tools-columns">
                <ul>
                    <li><a href="/image-compression">Image Compression</a></li>
                    <li><a href="/image-resize">Image Resize</a></li>
                    <li><a href="/convert-image-format">Image Format</a></li>
                    <li><a href="/image-rotate">Image Rotate</a></li>
                    <li><a href="/image-watermarking">Image Watermarking</a></li>
                    <li><a href="/image-effects">Image Effects</a></li>
                    <li><a href="/image-crop">Image Crop</a></li>
                    <li><a href="/blur-face">Blur Face</a></li>
                </ul>
                <ul>
                    <li><a href="/convert/png-to-jpg">PNG to JPG</a></li>
                    <li><a href="/convert/png-to-jpeg">PNG to JPEG</a></li>
                    <li><a href="/convert/png-to-bmp">PNG to BMP</a></li>
                    <li><a href="/convert/png-to-tiff">PNG to TIFF</a></li>
                    <li><a href="/convert/png-to-webp">PNG to WebP</a></li>
                    <li><a href="/convert/jpg-to-png">JPG to PNG</a></li>
                </ul>
                <ul>
                    <li><a href="/convert/jpg-to-jpeg">JPG to JPEG</a></li>
                    <li><a href="/convert/jpg-to-bmp">JPG to BMP</a></li>
                    <li><a href="/convert/jpg-to-tiff">JPG to TIFF</a></li>
                    <li><a href="/convert/jpg-to-webp">JPG to WebP</a></li>
                    <li><a href="/convert/jpeg-to-png">JPEG to PNG</a></li>
                    <li><a href="/convert/jpeg-to-jpg">JPEG to JPG</a></li>
                </ul>
                <ul>    
                    <li><a href="/convert/jpeg-to-tiff">JPEG to TIFF</a></li>
                    <li><a href="/convert/jpeg-to-bmp">JPEG to BMP</a></li>
                    <li><a href="/convert/jpeg-to-webp">JPEG to WebP</a></li>
                    <li><a href="/convert/bmp-to-png">BMP to PNG</a></li>
                    <li><a href="/convert/bmp-to-jpg">BMP to JPG</a></li>
                    <li><a href="/convert/bmp-to-jpeg">BMP to JPEG</a></li>
                </ul>
                <ul>    
                    <li><a href="/convert/bmp-to-tiff">BMP to TIFF</a></li>
                    <li><a href="/convert/bmp-to-webp">BMP to WebP</a></li>
                    <li><a href="/convert/tiff-to-png">TIFF to PNG</a></li>
                    <li><a href="/convert/tiff-to-jpg">TIFF to JPG</a></li>
                    <li><a href="/convert/tiff-to-jpeg">TIFF to JPEG</a></li>
                    <li><a href="/convert/tiff-to-bmp">TIFF to BMP</a></li>
                </ul> 
                <ul>   
                    <li><a href="/convert/tiff-to-webp">TIFF to WebP</a></li>
                    <li><a href="/convert/webp-to-png">WebP to PNG</a></li>
                    <li><a href="/convert/webp-to-jpg">WebP to JPG</a></li>
                    <li><a href="/convert/webp-to-jpeg">WebP to JPEG</a></li>
                    <li><a href="/convert/webp-to-bmp">WebP to BMP</a></li>
                    <li><a href="/convert/webp-to-tiff">WebP to TIFF</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
