{% extends "en/base.html" %}

{% block meta_description %}
<meta name="description" content="Get help and support for ToolsForImage - Your comprehensive resource for image compression, resizing, cropping, format conversion, rotation, watermarking, face blurring, and more. Find answers to common questions and learn how to use our image enhancement tools effectively.">
{% endblock %}

{% block title %}Help ToolsForImage - Free Online Image Editing Tools{% endblock %}

{% block content %}
<h1>Help Center</h1>

<div class="help-section">
    <h2>Getting Started</h2>
    <p>Welcome to ToolsForImage! Here's how to get started:</p>
    <ol>
        <li>1 - Choose the tool you need from our navigation menu.</li>
        <li>2 - Upload your image using the provided interface.</li>
        <li>3 - Adjust settings as needed.</li>
        <li>4 - Process your image and download the result.</li>
    </ol>
</div>

<div class="help-section">
    <h2>Frequently Asked Questions</h2>
    <p>For a comprehensive list of FAQs, please visit our <a href="/faq">FAQ page</a>.</p>
</div>

<div class="help-section">
    <h2>Tool-specific Help</h2>
    <ul>
        <li><a href="/image-compression">Image Compression</a> - Reduce file size while maintaining quality</li>
        <li><a href="/image-resize">Image Resize</a> - Change image dimensions</li>
        <li><a href="/convert-image-format">Format Conversion</a> - Convert between different image formats</li>
        <li><a href="/image-rotate">Image Rotation</a> - Rotate or flip your images</li>
        <li><a href="/image-watermarking">Watermarking</a> - Add text or image watermarks</li>
        <li><a href="/image-effects">Image Effects</a> - Apply various filters and effects</li>
        <li><a href="/image-crop">Image Cropping</a> - Cut out portions of your image</li>
        <li><a href="/blur-face">Face Blurring</a> - Automatically detect and blur faces in images</li>
        <li class="all-tools-li"><a href="/tools">All tools</a></li>
    </ul>
</div>

<div class="help-section">
    <h2>Contact Support</h2>
    <p>If you need further assistance, please don't hesitate to contact our support team at <a href="mailto:mlbrothers2024@gmail.com">mlbrothers2024@gmail.com</a>.</p>
</div>

<div>
    <br>
    <h2>Online Free Image Tools</h2>
    <ul class="tools-list">
        <li><a href="/image-compression">Image Compression</a></li>
        <li><a href="/image-resize">Image Resize</a></li>
        <li><a href="/convert-image-format">Convert Image Format</a></li>
        <li><a href="/image-rotate">Image Rotate</a></li>
        <li><a href="/image-watermarking">Image Watermarking</a></li>
        <li><a href="/image-effects">Image Effects</a></li>
        <li><a href="/image-crop">Image Crop</a></li>
        <li><a href="/blur-face">Blur Face</a></li>
    </ul>
    <br>
    <h2 style="text-align: center;">Online free image format conversion tools</h2>
    <ul class="tools-list">
        <li><a href="/convert/png-to-jpg">Convert PNG to JPG</a></li>
        <li><a href="/convert/png-to-jpeg">Convert PNG to JPEG</a></li>
        <li><a href="/convert/png-to-bmp">Convert PNG to BMP</a></li>
        <li><a href="/convert/png-to-tiff">Convert PNG to TIFF</a></li>
        <li><a href="/convert/png-to-webp">Convert PNG to WebP</a></li>
        <li><a href="/convert/jpg-to-png">Convert JPG to PNG</a></li>
        <li><a href="/convert/jpg-to-jpeg">Convert JPG to JPEG</a></li>
        <li><a href="/convert/jpg-to-bmp">Convert JPG to BMP</a></li>
        <li><a href="/convert/jpg-to-tiff">Convert JPG to TIFF</a></li>
        <li><a href="/convert/jpg-to-webp">Convert JPG to WebP</a></li>
        <li><a href="/convert/jpeg-to-png">Convert JPEG to PNG</a></li>
        <li><a href="/convert/jpeg-to-jpg">Convert JPEG to JPG</a></li>
        <li><a href="/convert/jpeg-to-bmp">Convert JPEG to BMP</a></li>
        <li><a href="/convert/jpeg-to-tiff">Convert JPEG to TIFF</a></li>
        <li><a href="/convert/jpeg-to-webp">Convert JPEG to WebP</a></li>
        <li><a href="/convert/bmp-to-png">Convert BMP to PNG</a></li>
        <li><a href="/convert/bmp-to-jpg">Convert BMP to JPG</a></li>
        <li><a href="/convert/bmp-to-jpeg">Convert BMP to JPEG</a></li>
        <li><a href="/convert/bmp-to-tiff">Convert BMP to TIFF</a></li>
        <li><a href="/convert/bmp-to-webp">Convert BMP to WebP</a></li>
        <li><a href="/convert/tiff-to-png">Convert TIFF to PNG</a></li>
        <li><a href="/convert/tiff-to-jpg">Convert TIFF to JPG</a></li>
        <li><a href="/convert/tiff-to-jpeg">Convert TIFF to JPEG</a></li>
        <li><a href="/convert/tiff-to-bmp">Convert TIFF to BMP</a></li>
        <li><a href="/convert/tiff-to-webp">Convert TIFF to WebP</a></li>
        <li><a href="/convert/webp-to-png">Convert WebP to PNG</a></li>
        <li><a href="/convert/webp-to-jpg">Convert WebP to JPG</a></li>
        <li><a href="/convert/webp-to-jpeg">Convert WebP to JPEG</a></li>
        <li><a href="/convert/webp-to-bmp">Convert WebP to BMP</a></li>
        <li><a href="/convert/webp-to-tiff">Convert WebP to TIFF</a></li>
    </ul>
</div>

<style>
    main {
        max-width: 800px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        margin-bottom: 1em;
    }

    .help-section {
        text-align: center;
        padding: 20px;
        background-color: var(--box-color); /* Matching the theme */
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
        max-width: 1200px; /* Ensure the content stays within a manageable width */
        margin: 0 auto; /* Center align the content */
        border: var(--background-color) 3px solid; /* Use border similar to tools list */
        font-weight: 400; /* Set strong font-weight for headings and text */
        transition: background-color 0.3s; /* Add a smooth transition */
        line-height: 1.6;
        font-size: 18px;
    }

    .help-section a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: 700;
    }

    .help-section ul {
        list-style-type: none;
        padding: 0;
    }

    .help-section ol {
        list-style-type: none;
        padding: 0;
    }

    .help-section a:hover {
        color: var(--box-hover-text-color);
    }

    .all-tools-li {
        margin-top: 14px;
        display: inline-block; /* Makes it inline and allows padding */
        padding: 10px 20px; /* Add padding for button-like appearance */
        background-color: var(--box-color); /* Background color */
        color: black; /* Text color */
        border-radius: 5px; /* Rounded corners */
        text-align: center; /* Center text */
        text-decoration: none; /* Remove underline */
        font-weight: bold; /* Bold text */
        transition: background-color 0.3s, transform 0.2s; /* Transition effects */
        border: 3px solid var(--background-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }

    .all-tools-li:hover {
        border: 3px solid var(--link-hover-color);
    }

    .all-tools-li a:hover {
        color: black
    }

    .tool-name {
        font-weight: bold;
    }

    .tools-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 1200px;
        font-weight: 700;
        font-style: normal;
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        border: var(--background-color) 3px solid;
        flex-direction: column;
        align-items: center;
    }

    .tools-list li:hover {
        border: var(--link-hover-color) 3px solid;
    }

    .tools-list a {
        display: block;
        padding: 15px;
        background-color: var(--box-color);
        color: var(--link-color);
        text-decoration: none;
        height: 100%;
        border-radius: 5px;
    }
</style>
{% endblock %}
