{% extends "en/base.html" %}

{% block meta_description %}
<meta name="description" content="Convert JPEG to webp images easily with ToolsForImage. Free online JPEG to webp converter.">
{% endblock %}

{% block title %}Convert JPEG to webp - ToolsForImage{% endblock %}

{% block content %}
<h1>JPEG to webp Conversion Tool</h1>
<p>Easily convert your JPEG images to webp format. Upload a JPEG image and we'll convert it to webp for you.</p>
<form id="conversion-form" action="/convert-image" method="post" enctype="multipart/form-data">
    <input type="file" id="image-upload" name="image" accept="image/jpeg" style="display: none;" onchange="previewImage(event)">
    <button type="button" class="upload-button" onclick="document.getElementById('image-upload').click();">Upload JPEG Image</button>
    <br>
    <img id="image-preview" class="image-preview" src="#" alt="Image Preview">
    <br>
    <input type="hidden" name="input_format" value="jpeg">
    <input type="hidden" name="output_format" value="webp">
    <button type="submit" class="convert-button" onclick="return validateImageSelection();">Convert to webp</button>
</form>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    .upload-button {
        background-color: var(--tertiary-color);
        color: var(--background-color);
        padding: 20px 40px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        transition: transform 0.3s;
    }

    .upload-button:hover {
        transform: scale(1.1);
    }

    .convert-button {
        background-color: var(--background-color);
        color: var(--box-hover-color);
        border: 2px solid var(--box-hover-color);
        padding: 10px 20px;
        cursor: pointer;
        font-size: 20px;
        transition: transform 0.3s;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .image-preview {
        margin-top: 20px;
        max-width: 100%;
        max-height: 300px;
        display: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<script>
    function validateImageSelection() {
        const imageUpload = document.getElementById('image-upload');
        if (!imageUpload.value) {
            alert('Please select a JPEG image to upload.');
            return false;
        }
        return true;
    }

    function previewImage(event) {
        const imagePreview = document.getElementById('image-preview');
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}
