<nav>
    <div class="nav-logo"><a href="/" style="text-decoration: none; color: inherit;">ToolsForImage</a></div>
    <div class="hamburger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <ul class="nav-links">
        <li><a href="/image-compression">Compress Image</a></li>
        <li><a href="/image-resize">Resize Image</a></li>
        <li><a href="/convert-image-format">Convert Image</a></li>
        <li><a href="/image-rotate">Rotate Image</a></li>
        <li class="more-menu">
            <a href="javascript:void(0)">More</a>
            <div class="more-menu-content">
                <a href="/image-watermarking">Watermark</a>
                <a href="/image-effects">Image Effects</a>
                <a href="/image-crop">Crop Image</a>
                <a href="/blur-face">Blur Face</a>
            </div>
        </li>
    </ul>
</nav>
