{% extends "en/base.html" %}

{% block meta_description %}
<meta name="description" content="Explore our range of image tools at ToolsForImage - compression, resizing, cropping, format conversion, rotation, watermarking, face blurring, and more. Enhance your images easily with our user-friendly tools.">
{% endblock %}

{% block title %}ToolsForImage - Image Tools{% endblock %}

{% block content %}
<h1>Our Image Tools</h1>
<ul class="tools-list">
    <li><a href="/image-compression">Image Compression</a> - Reduce file size without compromising quality</li>
    <li><a href="/image-resize">Image Resize</a> - Adjust image dimensions to your needs</li>
    <li><a href="/convert-image-format">Convert Image Format</a> - Change image formats (JPEG, PNG, GIF, etc.)</li>
    <li><a href="/image-rotate">Image Rotate</a> - Rotate images to correct orientation</li>
    <li><a href="/image-watermarking">Image Watermarking</a> - Add watermarks to protect your images</li>
    <li><a href="/image-effects">Image Effects</a> - Apply creative effects and filters</li>
    <li><a href="/image-crop">Image Crop</a> - Remove unwanted areas from your images</li>
    <li><a href="/blur-face">Blur Face</a> - Automatically blur faces in images for privacy</li>
</ul>
<h2 style="text-align: center;">Image Format Conversion Tools</h2>
<ul class="tools-list">
    <li><a href="/convert/png-to-jpg">PNG to JPG</a> - Convert PNG images to JPG format</li>
    <li><a href="/convert/png-to-jpeg">PNG to JPEG</a> - Convert PNG images to JPEG format</li>
    <li><a href="/convert/png-to-bmp">PNG to BMP</a> - Convert PNG images to BMP format</li>
    <li><a href="/convert/png-to-tiff">PNG to TIFF</a> - Convert PNG images to TIFF format</li>
    <li><a href="/convert/png-to-webp">PNG to WebP</a> - Convert PNG images to WebP format</li>
    <li><a href="/convert/jpg-to-png">JPG to PNG</a> - Convert JPG images to PNG format</li>
    <li><a href="/convert/jpg-to-jpeg">JPG to JPEG</a> - Convert JPG images to JPEG format</li>
    <li><a href="/convert/jpg-to-bmp">JPG to BMP</a> - Convert JPG images to BMP format</li>
    <li><a href="/convert/jpg-to-tiff">JPG to TIFF</a> - Convert JPG images to TIFF format</li>
    <li><a href="/convert/jpg-to-webp">JPG to WebP</a> - Convert JPG images to WebP format</li>
    <li><a href="/convert/jpeg-to-png">JPEG to PNG</a> - Convert JPEG images to PNG format</li>
    <li><a href="/convert/jpeg-to-jpg">JPEG to JPG</a> - Convert JPEG images to JPG format</li>
    <li><a href="/convert/jpeg-to-bmp">JPEG to BMP</a> - Convert JPEG images to BMP format</li>
    <li><a href="/convert/jpeg-to-tiff">JPEG to TIFF</a> - Convert JPEG images to TIFF format</li>
    <li><a href="/convert/jpeg-to-webp">JPEG to WebP</a> - Convert JPEG images to WebP format</li>
    <li><a href="/convert/bmp-to-png">BMP to PNG</a> - Convert BMP images to PNG format</li>
    <li><a href="/convert/bmp-to-jpg">BMP to JPG</a> - Convert BMP images to JPG format</li>
    <li><a href="/convert/bmp-to-jpeg">BMP to JPEG</a> - Convert BMP images to JPEG format</li>
    <li><a href="/convert/bmp-to-tiff">BMP to TIFF</a> - Convert BMP images to TIFF format</li>
    <li><a href="/convert/bmp-to-webp">BMP to WebP</a> - Convert BMP images to WebP format</li>
    <li><a href="/convert/tiff-to-png">TIFF to PNG</a> - Convert TIFF images to PNG format</li>
    <li><a href="/convert/tiff-to-jpg">TIFF to JPG</a> - Convert TIFF images to JPG format</li>
    <li><a href="/convert/tiff-to-jpeg">TIFF to JPEG</a> - Convert TIFF images to JPEG format</li>
    <li><a href="/convert/tiff-to-bmp">TIFF to BMP</a> - Convert TIFF images to BMP format</li>
    <li><a href="/convert/tiff-to-webp">TIFF to WebP</a> - Convert TIFF images to WebP format</li>
    <li><a href="/convert/webp-to-png">WebP to PNG</a> - Convert WebP images to PNG format</li>
    <li><a href="/convert/webp-to-jpg">WebP to JPG</a> - Convert WebP images to JPG format</li>
    <li><a href="/convert/webp-to-jpeg">WebP to JPEG</a> - Convert WebP images to JPEG format</li>
    <li><a href="/convert/webp-to-bmp">WebP to BMP</a> - Convert WebP images to BMP format</li>
    <li><a href="/convert/webp-to-tiff">WebP to TIFF</a> - Convert WebP images to TIFF format</li>
</ul>

<style>
    h1 {
        color: var(--secondary-color);
        text-align: center;
    }

    .tools-list {
        list-style-type: none;
        padding: 0;
        max-width: 600px;
        margin: 0 auto;
    }

    .tools-list li {
        background-color: var(--box-color);
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: background-color 0.3s;
    }

    .tools-list li:hover {
        background-color: var(--primary-color);
    }

    .tools-list a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    .tools-list a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
</style>
{% endblock %}
