{% extends "en/base.html" %}

{% block meta_description %}
<meta name="description" content="Convert webp to JPEG images easily with ToolsForImage. Free online webp to JPEG converter.">
{% endblock %}

{% block title %}Convert webp to JPEG online ToolsForImage - Free Online Image Editing Tools{% endblock %}

{% block content %}
<h1>Free Webp to JPEG Conversion Tool</h1>
<p>Easily convert your webp images to JPEG format. Upload a webp image and we'll convert it to JPEG for you.</p>
<form id="conversion-form" action="/convert-image" method="post" enctype="multipart/form-data">
    <input type="file" id="image-upload" name="image" accept="image/webp" style="display: none;" onchange="previewImage(event)">
    <button type="button" class="upload-button" onclick="document.getElementById('image-upload').click();">Upload webp Image</button>
    <br>
    <img id="image-preview" class="image-preview" src="#" alt="Image Preview" style="display: none;">
    <br>
    <input type="hidden" name="input_format" value="webp">
    <input type="hidden" name="output_format" value="jpeg">
    <button type="submit" class="convert-button" onclick="return validateImageSelection();">Convert to JPEG</button>
</form>

<div>
    <h1>Our other free Image Tools</h1>
    <ul class="tools-list">
        <li><a href="/image-compression">Image Compression</a></li>
        <li><a href="/image-resize">Image Resize</a></li>
        <li><a href="/convert-image-format">Convert Image Format</a></li>
        <li><a href="/image-rotate">Image Rotate</a></li>
        <li><a href="/image-watermarking">Image Watermarking</a></li>
        <li><a href="/image-effects">Image Effects</a></li>
        <li><a href="/image-crop">Image Crop</a></li>
        <li><a href="/blur-face">Blur Face</a></li>
    </ul>
    <br>
    <h2 style="text-align: center;">Free Image Format Conversion Tools</h2>
    <ul class="tools-list">
        <li><a href="/convert/png-to-jpg">Convert PNG to JPG</a></li>
        <li><a href="/convert/png-to-jpeg">Convert PNG to JPEG</a></li>
        <li><a href="/convert/png-to-bmp">Convert PNG to BMP</a></li>
        <li><a href="/convert/png-to-tiff">Convert PNG to TIFF</a></li>
        <li><a href="/convert/png-to-webp">Convert PNG to WebP</a></li>
        <li><a href="/convert/jpg-to-png">Convert JPG to PNG</a></li>
        <li><a href="/convert/jpg-to-jpeg">Convert JPG to JPEG</a></li>
        <li><a href="/convert/jpg-to-bmp">Convert JPG to BMP</a></li>
        <li><a href="/convert/jpg-to-tiff">Convert JPG to TIFF</a></li>
        <li><a href="/convert/jpg-to-webp">Convert JPG to WebP</a></li>
        <li><a href="/convert/jpeg-to-png">Convert JPEG to PNG</a></li>
        <li><a href="/convert/jpeg-to-jpg">Convert JPEG to JPG</a></li>
        <li><a href="/convert/jpeg-to-bmp">Convert JPEG to BMP</a></li>
        <li><a href="/convert/jpeg-to-tiff">Convert JPEG to TIFF</a></li>
        <li><a href="/convert/jpeg-to-webp">Convert JPEG to WebP</a></li>
        <li><a href="/convert/bmp-to-png">Convert BMP to PNG</a></li>
        <li><a href="/convert/bmp-to-jpg">Convert BMP to JPG</a></li>
        <li><a href="/convert/bmp-to-jpeg">Convert BMP to JPEG</a></li>
        <li><a href="/convert/bmp-to-tiff">Convert BMP to TIFF</a></li>
        <li><a href="/convert/bmp-to-webp">Convert BMP to WebP</a></li>
        <li><a href="/convert/tiff-to-png">Convert TIFF to PNG</a></li>
        <li><a href="/convert/tiff-to-jpg">Convert TIFF to JPG</a></li>
        <li><a href="/convert/tiff-to-jpeg">Convert TIFF to JPEG</a></li>
        <li><a href="/convert/tiff-to-bmp">Convert TIFF to BMP</a></li>
        <li><a href="/convert/tiff-to-webp">Convert TIFF to WebP</a></li>
        <li><a href="/convert/webp-to-png">Convert WebP to PNG</a></li>
        <li><a href="/convert/webp-to-jpg">Convert WebP to JPG</a></li>
        <li><a href="/convert/webp-to-jpeg">Convert WebP to JPEG</a></li>
        <li><a href="/convert/webp-to-bmp">Convert WebP to BMP</a></li>
        <li><a href="/convert/webp-to-tiff">Convert WebP to TIFF</a></li>
    </ul>
</div>

<script>
    function validateImageSelection() {
        const imageUpload = document.getElementById('image-upload');
        if (!imageUpload.value) {
            alert('Please select a webp image to upload.');
            return false;
        }
        return true;
    }

    function previewImage(event) {
        const imagePreview = document.getElementById('image-preview');
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    }
</script>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    .upload-button {
        background-color: var(--link-hover-color);
        color: var(--background-color);
        padding: 20px 40px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        transition: transform 0.3s;
        border-radius: 5px;
    }

    .upload-button:hover {
        transform: scale(1.1);
    }

    .convert-button {
        background-color: var(--background-color);
        color: var(--box-hover-color);
        border: 2px solid var(--box-hover-color);
        padding: 10px 20px;
        cursor: pointer;
        font-size: 20px;
        transition: transform 0.3s;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .image-preview {
        margin-top: 20px;
        max-width: 100%;
        max-height: 300px;
        display: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 5px;
    }

    li {
        line-height: 1.6;
    }

    .tool-name {
        font-weight: bold;
    }

    .tools-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 1200px;
        font-weight: 700;
        font-style: normal;
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        border: var(--background-color) 3px solid;
        flex-direction: column;
        align-items: center;
    }

    .tools-list li:hover {
        border: var(--link-hover-color) 3px solid;
    }

    .tools-list a {
        display: block;
        padding: 15px;
        background-color: var(--box-color);
        color: var(--link-color);
        text-decoration: none;
        height: 100%;
        border-radius: 5px;
    }
</style>
{% endblock %}
