<footer>
    <div class="footer-container">
        <div class="company-info">
            <a href="/{{ g.lang }}/"><img src="/static/favicon.ico" alt="Box 20 Logo" class="logo"></a>
            <p class="description">टूल्सफॉरइमेज एक मुफ्त ऑनलाइन छवि उपकरण सेट प्रदान करता है जिसमें रूपांतरण और संपादन उपकरण शामिल हैं, जो सभी स्वरूपों और रूपांतरणों का समर्थन करता है। हम आपका डेटा बिल्कुल भी सहेजते नहीं हैं।</p>
        </div>
        <div class="footer-section">
            <h3>नेविगेट करें</h3>
            <div class="navigate-columns">
                <ul>
                    <li><a href="/{{ g.lang }}/about">हमारे बारे में</a></li>
                    <li><a href="/{{ g.lang }}/contact-us">संपर्क करें</a></li>
                    <li><a href="/{{ g.lang }}/help">मदद</a></li>
                    <li><a href="/{{ g.lang }}/faq">सामान्य प्रश्न</a></li>
                    <li><a href="/{{ g.lang }}/media">मीडिया</a></li>
                    <li><a href="/{{ g.lang }}/legal">कानूनी</a></li>
                    <li><a href="/{{ g.lang }}/blogs">ब्लॉग्स</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/our-story">हमारी कहानी</a></li>
                    <li><a href="/{{ g.lang }}/team">टीम</a></li>
                    <li><a href="/{{ g.lang }}/features">विशेषताएँ</a></li>
                    <li><a href="/{{ g.lang }}/pricing">मूल्य निर्धारण</a></li>
                    <li><a href="/{{ g.lang }}/languages">भाषाएँ</a></li>
                    <li><a href="/{{ g.lang }}/tools">उपकरण</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <h3>ऑनलाइन मुफ्त उपकरण</h3>
            <div class="tools-columns">
                <ul>
                    <li><a href="/{{ g.lang }}/image-compression">छवि संपीड़न</a></li>
                    <li><a href="/{{ g.lang }}/image-resize">छवि का आकार बदलें</a></li>
                    <li><a href="/{{ g.lang }}/convert-image-format">छवि प्रारूप बदलें</a></li>
                    <li><a href="/{{ g.lang }}/image-rotate">छवि घुमाएं</a></li>
                    <li><a href="/{{ g.lang }}/image-watermarking">छवि वॉटरमार्किंग</a></li>
                    <li><a href="/{{ g.lang }}/image-effects">छवि प्रभाव</a></li>
                    <li><a href="/{{ g.lang }}/image-crop">छवि काटें</a></li>
                    <li><a href="/{{ g.lang }}/blur-face">चेहरा धुंधला करें</a></li>
                    <li><a href="/{{ g.lang }}/remove-background">पृष्ठभूमि हटाएं</a></li>
                    <li><a href="/{{ g.lang }}/blur-background">पृष्ठभूमि धुंधला करें</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/png-to-jpg">PNG से JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-jpeg">PNG से JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-bmp">PNG से BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-tiff">PNG से TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-webp">PNG से WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-ico">PNG से ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-png">JPG से PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-jpeg">JPG से JPEG</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-bmp">JPG से BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-tiff">JPG से TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-webp">JPG से WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-ico">JPG से ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-png">JPEG से PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-jpg">JPEG से JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-tiff">JPEG से TIFF</a></li>
                </ul>
                <ul>    
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-bmp">JPEG से BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-webp">JPEG से WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-ico">JPEG से ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-png">BMP से PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-jpg">BMP से JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-jpeg">BMP से JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-tiff">BMP से TIFF</a></li>
                </ul>
                <ul>    
                    <li><a href="/{{ g.lang }}/convert/bmp-to-webp">BMP से WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-ico">BMP से ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-png">TIFF से PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-jpg">TIFF से JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-jpeg">TIFF से JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-bmp">TIFF से BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-webp">TIFF से WebP</a></li>
                </ul> 
                <ul>   
                    <li><a href="/{{ g.lang }}/convert/tiff-to-ico">TIFF से ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-png">WebP से PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-jpg">WebP से JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-jpeg">WebP से JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-bmp">WebP से BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-tiff">WebP से TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-ico">WebP से ICO</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
