{% extends "en/base.html" %}

{% block meta_description %}
<meta name="description" content="Choose your preferred language for ToolsForImage - Access our image tools in English or Hindi.">
{% endblock %}

{% block title %}Language Selection ToolsForImage - Free Online Image Editing Tools{% endblock %}

{% block content %}
<h1>Choose Your Language</h1>
<p>Select your preferred language to use ToolsForImage:</p>
<div class="language-container">
    <div class="language-box">
        <a href="/en">English</a>
    </div>
    <!-- <div class="language-box">
        <a href="/hi">हिन्दी (Hindi)</a>
    </div> -->
</div>

<div>
    <br>
    <h2>Online Free Image Tools</h2>
    <ul class="tools-list">
        <li><a href="/image-compression">Image Compression</a></li>
        <li><a href="/image-resize">Image Resize</a></li>
        <li><a href="/convert-image-format">Convert Image Format</a></li>
        <li><a href="/image-rotate">Image Rotate</a></li>
        <li><a href="/image-watermarking">Image Watermarking</a></li>
        <li><a href="/image-effects">Image Effects</a></li>
        <li><a href="/image-crop">Image Crop</a></li>
        <li><a href="/blur-face">Blur Face</a></li>
    </ul>
    <br>
    <h2 style="text-align: center;">Online free image format conversion tools</h2>
    <ul class="tools-list">
        <li><a href="/convert/png-to-jpg">Convert PNG to JPG</a></li>
        <li><a href="/convert/png-to-jpeg">Convert PNG to JPEG</a></li>
        <li><a href="/convert/png-to-bmp">Convert PNG to BMP</a></li>
        <li><a href="/convert/png-to-tiff">Convert PNG to TIFF</a></li>
        <li><a href="/convert/png-to-webp">Convert PNG to WebP</a></li>
        <li><a href="/convert/jpg-to-png">Convert JPG to PNG</a></li>
        <li><a href="/convert/jpg-to-jpeg">Convert JPG to JPEG</a></li>
        <li><a href="/convert/jpg-to-bmp">Convert JPG to BMP</a></li>
        <li><a href="/convert/jpg-to-tiff">Convert JPG to TIFF</a></li>
        <li><a href="/convert/jpg-to-webp">Convert JPG to WebP</a></li>
        <li><a href="/convert/jpeg-to-png">Convert JPEG to PNG</a></li>
        <li><a href="/convert/jpeg-to-jpg">Convert JPEG to JPG</a></li>
        <li><a href="/convert/jpeg-to-bmp">Convert JPEG to BMP</a></li>
        <li><a href="/convert/jpeg-to-tiff">Convert JPEG to TIFF</a></li>
        <li><a href="/convert/jpeg-to-webp">Convert JPEG to WebP</a></li>
        <li><a href="/convert/bmp-to-png">Convert BMP to PNG</a></li>
        <li><a href="/convert/bmp-to-jpg">Convert BMP to JPG</a></li>
        <li><a href="/convert/bmp-to-jpeg">Convert BMP to JPEG</a></li>
        <li><a href="/convert/bmp-to-tiff">Convert BMP to TIFF</a></li>
        <li><a href="/convert/bmp-to-webp">Convert BMP to WebP</a></li>
        <li><a href="/convert/tiff-to-png">Convert TIFF to PNG</a></li>
        <li><a href="/convert/tiff-to-jpg">Convert TIFF to JPG</a></li>
        <li><a href="/convert/tiff-to-jpeg">Convert TIFF to JPEG</a></li>
        <li><a href="/convert/tiff-to-bmp">Convert TIFF to BMP</a></li>
        <li><a href="/convert/tiff-to-webp">Convert TIFF to WebP</a></li>
        <li><a href="/convert/webp-to-png">Convert WebP to PNG</a></li>
        <li><a href="/convert/webp-to-jpg">Convert WebP to JPG</a></li>
        <li><a href="/convert/webp-to-jpeg">Convert WebP to JPEG</a></li>
        <li><a href="/convert/webp-to-bmp">Convert WebP to BMP</a></li>
        <li><a href="/convert/webp-to-tiff">Convert WebP to TIFF</a></li>
    </ul>
</div>


<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    .language-container {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin-top: 2em;
    }

    .language-box {
        background-color: var(--box-color);
        border: 1px solid var(--secondary-color);
        padding: 2em;
        width: 200px;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .language-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .language-box a {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 1.2em;
        font-weight: bold;
    }

    
</style>
{% endblock %}
