{% extends "hi/base.html" %}

{% block meta_description %}
<meta name="description" content="ToolsForImage के लिए मीडिया पृष्ठ - जल्द आ रहा है">
{% endblock %}

{% block title %}मीडिया | ToolsForImage | चेहरों को ब्लर करें, इमेज कन्वर्जन, एडिटिंग, रीसाइज़िंग, बैकग्राउंड हटाने, बैकग्राउंड ब्लर करने और अन्य के लिए व्यापक मुफ्त ऑनलाइन टूल{% endblock %}

{% block content %}
<h1>मीडिया</h1>
<p>जल्द आ रहा है...</p>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    
</style>
{% endblock %}
