{% extends "hi/base.html" %}

{% block meta_description %}
<meta name="description" content="ToolsForImage के लिए मीडिया पृष्ठ - जल्द आ रहा है">
{% endblock %}

{% block title %}मीडिया ToolsForImage - मुफ्त ऑनलाइन इमेज एडिटिंग टूल{% endblock %}

{% block content %}
<h1>मीडिया</h1>
<p>जल्द आ रहा है...</p>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    
</style>
{% endblock %}
