<div>
    <br>
    <h2>हमारे अन्य मुफ्त इमेज टूल्स</h2>
    <ul class="tools-list">
        <li><a href="/{{ g.lang }}/image-compression">इमेज कम्प्रेशन</a></li>
        <li><a href="/{{ g.lang }}/image-resize">इमेज रीसाइज़</a></li>
        <li><a href="/{{ g.lang }}/convert-image-format">इमेज फॉर्मेट बदलें</a></li>
        <li><a href="/{{ g.lang }}/image-rotate">इमेज रोटेट</a></li>
        <li><a href="/{{ g.lang }}/image-watermarking">इमेज वाटरमार्किंग</a></li>
        <li><a href="/{{ g.lang }}/image-effects">इमेज इफेक्ट्स</a></li>
        <li><a href="/{{ g.lang }}/image-crop">इमेज क्रॉप</a></li>
        <li><a href="/{{ g.lang }}/blur-face">चेहरा ब्लर करें</a></li>
        <li><a href="/{{ g.lang }}/remove-background">पृष्ठभूमि हटाएं</a></li>
        <li><a href="/{{ g.lang }}/blur-background">पृष्ठभूमि ब्लर करें</a></li>
    </ul>
    <br>
    <br>
    <h2 style="text-align: center;">मुफ्त इमेज फॉर्मेट रूपांतरण टूल्स</h2>
    <ul class="tools-list">
        <li><a href="/{{ g.lang }}/convert/png-to-jpg">PNG को JPG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-jpeg">PNG को JPEG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-bmp">PNG को BMP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-tiff">PNG को TIFF में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-webp">PNG को WebP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-ico">PNG को ICO में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-png">JPG को PNG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-jpeg">JPG को JPEG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-bmp">JPG को BMP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-tiff">JPG को TIFF में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-webp">JPG को WebP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-ico">JPG को ICO में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-png">JPEG को PNG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-jpg">JPEG को JPG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-bmp">JPEG को BMP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-tiff">JPEG को TIFF में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-webp">JPEG को WebP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-ico">JPEG को ICO में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-png">BMP को PNG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-jpg">BMP को JPG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-jpeg">BMP को JPEG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-tiff">BMP को TIFF में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-webp">BMP को WebP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-ico">BMP को ICO में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-png">TIFF को PNG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-jpg">TIFF को JPG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-jpeg">TIFF को JPEG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-bmp">TIFF को BMP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-webp">TIFF को WebP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-ico">TIFF को ICO में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-png">WebP को PNG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-jpg">WebP को JPG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-jpeg">WebP को JPEG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-bmp">WebP को BMP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-tiff">WebP को TIFF में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-ico">WebP को ICO में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-png">ICO को PNG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-jpg">ICO को JPG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-jpeg">ICO को JPEG में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-bmp">ICO को BMP में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-tiff">ICO को TIFF में बदलें</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-webp">ICO को WebP में बदलें</a></li>
    </ul>
</div>


<style>
    h2{
        font-size: 32px;
    }
    .tool-name {
        font-weight: bold;
    }

    .tools-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 1200px;
        font-weight: 700;
        font-style: normal;
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        border: var(--background-color) 3px solid;
        flex-direction: column;
        align-items: center;
        line-height: 1.6;
    }

    .tools-list li:hover {
        border: var(--link-hover-color) 3px solid;
    }

    .tools-list a {
        display: block;
        padding: 15px;
        background-color: var(--box-color);
        color: var(--link-color);
        text-decoration: none;
        height: 100%;
        border-radius: 5px;
    }
</style>