{% extends "es/base.html" %}

{% block meta_description %}
<meta name="description" content="Página de medios para ToolsForImage - Próximamente">
{% endblock %}

{% block title %}Medios | ToolsForImage | Herramientas gratuitas en línea para desenfocar caras, conversión de imágenes, edición, redimensionamiento, eliminar fondos, desenfocar fondos y más{% endblock %}

{% block content %}
<h1>Medios</h1>
<p>Próximamente...</p>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    
</style>
{% endblock %}
