{% extends "en/base.html" %}

{% block meta_description %}
<meta name="description" content="Media page for ToolsForImage - Coming soon">
{% endblock %}

{% block title %}Media | ToolsForImage | Comprehensive Free Online Tools for Blur Faces, Image Conversion, Editing, Resizing, Remove Background, Blur background and More{% endblock %}

{% block content %}
<h1>Media</h1>
<p>Coming soon...</p>



<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    
</style>
{% endblock %}
