<div>
    <br>
    <h2>Nuestras otras herramientas gratuitas de imágenes</h2>
    <ul class="tools-list">
        <li><a href="{{ g.lang }}/image-compression">Compresión de Imágenes</a></li>
        <li><a href="{{ g.lang }}/image-resize">Redimensionar Imágenes</a></li>
        <li><a href="{{ g.lang }}/convert-image-format">Convertir Formato de Imagen</a></li>
        <li><a href="{{ g.lang }}/image-rotate">Rotar Imágenes</a></li>
        <li><a href="{{ g.lang }}/image-watermarking">Marca de Agua en Imágenes</a></li>
        <li><a href="{{ g.lang }}/image-effects">Efectos de Imágenes</a></li>
        <li><a href="{{ g.lang }}/image-crop">Recortar Imágenes</a></li>
        <li><a href="{{ g.lang }}/blur-face">Desenfocar Cara</a></li>
        <li><a href="{{ g.lang }}/remove-background">Eliminar Fondo</a></li>
        <li><a href="{{ g.lang }}/blur-background">Desenfocar Fondo</a></li>
    </ul>
    <br>
    <br>
    <h2 style="text-align: center;">Herramientas gratuitas de conversión de formato de imagen</h2>
    <ul class="tools-list">
        <li><a href="{{ g.lang }}/convert/png-to-jpg">Convertir PNG a JPG</a></li>
        <li><a href="{{ g.lang }}/convert/png-to-jpeg">Convertir PNG a JPEG</a></li>
        <li><a href="{{ g.lang }}/convert/png-to-bmp">Convertir PNG a BMP</a></li>
        <li><a href="{{ g.lang }}/convert/png-to-tiff">Convertir PNG a TIFF</a></li>
        <li><a href="{{ g.lang }}/convert/png-to-webp">Convertir PNG a WebP</a></li>
        <li><a href="{{ g.lang }}/convert/png-to-ico">Convertir PNG a ICO</a></li>
        <li><a href="{{ g.lang }}/convert/jpg-to-png">Convertir JPG a PNG</a></li>
        <li><a href="{{ g.lang }}/convert/jpg-to-jpeg">Convertir JPG a JPEG</a></li>
        <li><a href="{{ g.lang }}/convert/jpg-to-bmp">Convertir JPG a BMP</a></li>
        <li><a href="{{ g.lang }}/convert/jpg-to-tiff">Convertir JPG a TIFF</a></li>
        <li><a href="{{ g.lang }}/convert/jpg-to-webp">Convertir JPG a WebP</a></li>
        <li><a href="{{ g.lang }}/convert/jpg-to-ico">Convertir JPG a ICO</a></li>
        <li><a href="{{ g.lang }}/convert/jpeg-to-png">Convertir JPEG a PNG</a></li>
        <li><a href="{{ g.lang }}/convert/jpeg-to-jpg">Convertir JPEG a JPG</a></li>
        <li><a href="{{ g.lang }}/convert/jpeg-to-bmp">Convertir JPEG a BMP</a></li>
        <li><a href="{{ g.lang }}/convert/jpeg-to-tiff">Convertir JPEG a TIFF</a></li>
        <li><a href="{{ g.lang }}/convert/jpeg-to-webp">Convertir JPEG a WebP</a></li>
        <li><a href="{{ g.lang }}/convert/jpeg-to-ico">Convertir JPEG a ICO</a></li>
        <li><a href="{{ g.lang }}/convert/bmp-to-png">Convertir BMP a PNG</a></li>
        <li><a href="{{ g.lang }}/convert/bmp-to-jpg">Convertir BMP a JPG</a></li>
        <li><a href="{{ g.lang }}/convert/bmp-to-jpeg">Convertir BMP a JPEG</a></li>
        <li><a href="{{ g.lang }}/convert/bmp-to-tiff">Convertir BMP a TIFF</a></li>
        <li><a href="{{ g.lang }}/convert/bmp-to-webp">Convertir BMP a WebP</a></li>
        <li><a href="{{ g.lang }}/convert/bmp-to-ico">Convertir BMP a ICO</a></li>
        <li><a href="{{ g.lang }}/convert/tiff-to-png">Convertir TIFF a PNG</a></li>
        <li><a href="{{ g.lang }}/convert/tiff-to-jpg">Convertir TIFF a JPG</a></li>
        <li><a href="{{ g.lang }}/convert/tiff-to-jpeg">Convertir TIFF a JPEG</a></li>
        <li><a href="{{ g.lang }}/convert/tiff-to-bmp">Convertir TIFF a BMP</a></li>
        <li><a href="{{ g.lang }}/convert/tiff-to-webp">Convertir TIFF a WebP</a></li>
        <li><a href="{{ g.lang }}/convert/tiff-to-ico">Convertir TIFF a ICO</a></li>
        <li><a href="{{ g.lang }}/convert/webp-to-png">Convertir WebP a PNG</a></li>
        <li><a href="{{ g.lang }}/convert/webp-to-jpg">Convertir WebP a JPG</a></li>
        <li><a href="{{ g.lang }}/convert/webp-to-jpeg">Convertir WebP a JPEG</a></li>
        <li><a href="{{ g.lang }}/convert/webp-to-bmp">Convertir WebP a BMP</a></li>
        <li><a href="{{ g.lang }}/convert/webp-to-tiff">Convertir WebP a TIFF</a></li>
        <li><a href="{{ g.lang }}/convert/webp-to-ico">Convertir WebP a ICO</a></li>
        <li><a href="{{ g.lang }}/convert/ico-to-png">Convertir ICO a PNG</a></li>
        <li><a href="{{ g.lang }}/convert/ico-to-jpg">Convertir ICO a JPG</a></li>
        <li><a href="{{ g.lang }}/convert/ico-to-jpeg">Convertir ICO a JPEG</a></li>
        <li><a href="{{ g.lang }}/convert/ico-to-bmp">Convertir ICO a BMP</a></li>
        <li><a href="{{ g.lang }}/convert/ico-to-tiff">Convertir ICO a TIFF</a></li>
        <li><a href="{{ g.lang }}/convert/ico-to-webp">Convertir ICO a WebP</a></li>
    </ul>
</div>

<style>
    h2{
        font-size: 32px;
    }
    .tool-name {
        font-weight: bold;
    }

    .tools-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 1200px;
        font-weight: 700;
        font-style: normal;
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        border: var(--background-color) 3px solid;
        flex-direction: column;
        align-items: center;
        line-height: 1.6;
    }

    .tools-list li:hover {
        border: var(--link-hover-color) 3px solid;
    }

    .tools-list a {
        display: block;
        padding: 15px;
        background-color: var(--box-color);
        color: var(--link-color);
        text-decoration: none;
        height: 100%;
        border-radius: 5px;
    }
</style>