{% extends "es/base.html" %}

{% block meta_description %}
<meta name="description" content="Explora nuestra gama de herramientas de imágenes en ToolsForImage: compresión, redimensionamiento, recorte, conversión de formatos, rotación, marca de agua, desenfoque de caras y más. Mejora tus imágenes fácilmente con nuestras herramientas fáciles de usar.">
{% endblock %}

{% block title %}| ToolsForImage | Herramientas en línea gratuitas para desenfocar caras, conversión de imágenes, edición, redimensionamiento, eliminar fondos, desenfocar fondos y más{% endblock %}

{% block content %}
<h1>Nuestras Herramientas Gratuitas de Imágenes</h1>
<ul class="tools-list">
    <li><a href="/{{ g.lang }}/image-compression"><span class="tool-name">Compresión de Imágenes</span> - Reduce el tamaño del archivo sin comprometer la calidad</a></li>
    <li><a href="/{{ g.lang }}/image-resize"><span class="tool-name">Redimensionar Imágenes</span> - Ajusta las dimensiones de la imagen según tus necesidades</a></li>
    <li><a href="/{{ g.lang }}/convert-image-format"><span class="tool-name">Convertir Formato de Imagen</span> - Cambia formatos de imagen (JPEG, PNG, GIF, etc.)</a></li>
    <li><a href="/{{ g.lang }}/image-rotate"><span class="tool-name">Rotar Imágenes</span> - Rota imágenes para corregir la orientación</a></li>
    <li><a href="/{{ g.lang }}/image-watermarking"><span class="tool-name">Marca de Agua en Imágenes</span> - Agrega marcas de agua para proteger tus imágenes</a></li>
    <li><a href="/{{ g.lang }}/image-effects"><span class="tool-name">Efectos de Imagen</span> - Aplica efectos creativos y filtros</a></li>
    <li><a href="/{{ g.lang }}/image-crop"><span class="tool-name">Recortar Imágenes</span> - Elimina áreas no deseadas de tus imágenes</a></li>
    <li><a href="/{{ g.lang }}/blur-face"><span class="tool-name">Desenfocar Caras</span> - Desenfoca automáticamente caras en imágenes para privacidad</a></li>
    <li><a href="/{{ g.lang }}/remove-background"><span class="tool-name">Eliminar Fondo</span> - Elimina automáticamente fondos en imágenes con IA</a></li>
    <li><a href="/{{ g.lang }}/blur-background"><span class="tool-name">Desenfocar Fondo</span> - Desenfoca automáticamente fondos en imágenes con IA</a></li>
</ul>
<h2 style="text-align: center;">Herramientas Gratuitas de Conversión de Formatos de Imagen</h2>
<ul class="tools-list">
    <li><a href="/{{ g.lang }}/convert/png-to-jpg"><span class="tool-name">PNG a JPG</span> - Convierte imágenes PNG a formato JPG</a></li>
    <li><a href="/{{ g.lang }}/convert/png-to-jpeg"><span class="tool-name">PNG a JPEG</span> - Convierte imágenes PNG a formato JPEG</a></li>
    <li><a href="/{{ g.lang }}/convert/png-to-bmp"><span class="tool-name">PNG a BMP</span> - Convierte imágenes PNG a formato BMP</a></li>
    <li><a href="/{{ g.lang }}/convert/png-to-tiff"><span class="tool-name">PNG a TIFF</span> - Convierte imágenes PNG a formato TIFF</a></li>
    <li><a href="/{{ g.lang }}/convert/png-to-webp"><span class="tool-name">PNG a WebP</span> - Convierte imágenes PNG a formato WebP</a></li>
    <li><a href="/{{ g.lang }}/convert/png-to-ico"><span class="tool-name">PNG a ICO</span> - Convierte imágenes PNG a formato ICO</a></li>

    <li><a href="/{{ g.lang }}/convert/jpg-to-png"><span class="tool-name">JPG a PNG</span> - Convierte imágenes JPG a formato PNG</a></li>
    <li><a href="/{{ g.lang }}/convert/jpg-to-jpeg"><span class="tool-name">JPG a JPEG</span> - Convierte imágenes JPG a formato JPEG</a></li>
    <li><a href="/{{ g.lang }}/convert/jpg-to-bmp"><span class="tool-name">JPG a BMP</span> - Convierte imágenes JPG a formato BMP</a></li>
    <li><a href="/{{ g.lang }}/convert/jpg-to-tiff"><span class="tool-name">JPG a TIFF</span> - Convierte imágenes JPG a formato TIFF</a></li>
    <li><a href="/{{ g.lang }}/convert/jpg-to-webp"><span class="tool-name">JPG a WebP</span> - Convierte imágenes JPG a formato WebP</a></li>
    <li><a href="/{{ g.lang }}/convert/jpg-to-ico"><span class="tool-name">JPG a ICO</span> - Convierte imágenes JPG a formato ICO</a></li>

    <li><a href="/{{ g.lang }}/convert/jpeg-to-png"><span class="tool-name">JPEG a PNG</span> - Convierte imágenes JPEG a formato PNG</a></li>
    <li><a href="/{{ g.lang }}/convert/jpeg-to-jpg"><span class="tool-name">JPEG a JPG</span> - Convierte imágenes JPEG a formato JPG</a></li>
    <li><a href="/{{ g.lang }}/convert/jpeg-to-bmp"><span class="tool-name">JPEG a BMP</span> - Convierte imágenes JPEG a formato BMP</a></li>
    <li><a href="/{{ g.lang }}/convert/jpeg-to-tiff"><span class="tool-name">JPEG a TIFF</span> - Convierte imágenes JPEG a formato TIFF</a></li>
    <li><a href="/{{ g.lang }}/convert/jpeg-to-webp"><span class="tool-name">JPEG a WebP</span> - Convierte imágenes JPEG a formato WebP</a></li>
    <li><a href="/{{ g.lang }}/convert/jpeg-to-ico"><span class="tool-name">JPEG a ICO</span> - Convierte imágenes JPEG a formato ICO</a></li>
    
    <li><a href="/{{ g.lang }}/convert/bmp-to-png"><span class="tool-name">BMP a PNG</span> - Convierte imágenes BMP a formato PNG</a></li>
    <li><a href="/{{ g.lang }}/convert/bmp-to-jpg"><span class="tool-name">BMP a JPG</span> - Convierte imágenes BMP a formato JPG</a></li>
    <li><a href="/{{ g.lang }}/convert/bmp-to-jpeg"><span class="tool-name">BMP a JPEG</span> - Convierte imágenes BMP a formato JPEG</a></li>
    <li><a href="/{{ g.lang }}/convert/bmp-to-tiff"><span class="tool-name">BMP a TIFF</span> - Convierte imágenes BMP a formato TIFF</a></li>
    <li><a href="/{{ g.lang }}/convert/bmp-to-webp"><span class="tool-name">BMP a WebP</span> - Convierte imágenes BMP a formato WebP</a></li>
    <li><a href="/{{ g.lang }}/convert/bmp-to-ico"><span class="tool-name">BMP a ICO</span> - Convierte imágenes BMP a formato ICO</a></li>
    
    <li><a href="/{{ g.lang }}/convert/tiff-to-png"><span class="tool-name">TIFF a PNG</span> - Convierte imágenes TIFF a formato PNG</a></li>
    <li><a href="/{{ g.lang }}/convert/tiff-to-jpg"><span class="tool-name">TIFF a JPG</span> - Convierte imágenes TIFF a formato JPG</a></li>
    <li><a href="/{{ g.lang }}/convert/tiff-to-jpeg"><span class="tool-name">TIFF a JPEG</span> - Convierte imágenes TIFF a formato JPEG</a></li>
    <li><a href="/{{ g.lang }}/convert/tiff-to-bmp"><span class="tool-name">TIFF a BMP</span> - Convierte imágenes TIFF a formato BMP</a></li>
    <li><a href="/{{ g.lang }}/convert/tiff-to-webp"><span class="tool-name">TIFF a WebP</span> - Convierte imágenes TIFF a formato WebP</a></li>
    <li><a href="/{{ g.lang }}/convert/tiff-to-ico"><span class="tool-name">TIFF a ICO</span> - Convierte imágenes TIFF a formato ICO</a></li>
    
    <li><a href="/{{ g.lang }}/convert/webp-to-png"><span class="tool-name">WebP a PNG</span> - Convierte imágenes WebP a formato PNG</a></li>
    <li><a href="/{{ g.lang }}/convert/webp-to-jpg"><span class="tool-name">WebP a JPG</span> - Convierte imágenes WebP a formato JPG</a></li>
    <li><a href="/{{ g.lang }}/convert/webp-to-jpeg"><span class="tool-name">WebP a JPEG</span> - Convierte imágenes WebP a formato JPEG</a></li>
    <li><a href="/{{ g.lang }}/convert/webp-to-bmp"><span class="tool-name">WebP a BMP</span> - Convierte imágenes WebP a formato BMP</a></li>
    <li><a href="/{{ g.lang }}/convert/webp-to-tiff"><span class="tool-name">WebP a TIFF</span> - Convierte imágenes WebP a formato TIFF</a></li>
    <li><a href="/{{ g.lang }}/convert/webp-to-ico"><span class="tool-name">WebP a ICO</span> - Convierte imágenes WebP a formato ICO</a></li>

    <li><a href="/{{ g.lang }}/convert/ico-to-png"><span class="tool-name">ICO a PNG</span> - Convierte imágenes ICO a formato PNG</a></li>
    <li><a href="/{{ g.lang }}/convert/ico-to-jpg"><span class="tool-name">ICO a JPG</span> - Convierte imágenes ICO a formato JPG</a></li>
    <li><a href="/{{ g.lang }}/convert/ico-to-jpeg"><span class="tool-name">ICO a JPEG</span> - Convierte imágenes ICO a formato JPEG</a></li>
    <li><a href="/{{ g.lang }}/convert/ico-to-bmp"><span class="tool-name">ICO a BMP</span> - Convierte imágenes ICO a formato BMP</a></li>
    <li><a href="/{{ g.lang }}/convert/ico-to-tiff"><span class="tool-name">ICO a TIFF</span> - Convierte imágenes ICO a formato TIFF</a></li>
    <li><a href="/{{ g.lang }}/convert/ico-to-webp"><span class="tool-name">ICO a WebP</span> - Convierte imágenes ICO a formato WebP</a></li>
</ul>

<style>
    h1 {
        color: var(--secondary-color);
        text-align: center;
    }

    .tool-name {
        font-weight: bold; /* Make the tool name bold */
    }

    .tools-list {
        list-style-type: none;
        padding: 0;
        max-width: 600px;
        margin: 0 auto;
    }

    .tools-list li {
        background-color: var(--box-color);
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
        border: var(--background-color) 3px solid;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: background-color 0.3s;
    }

    .tools-list li:hover {
        border: var(--link-hover-color) 3px solid;
    }

    .tools-list a {
        display: block; /* Makes the anchor fill the list item */
        padding: 15px; /* Add padding for better click area */
        background-color: var(--box-color);
        color: var(--link-color);
        text-decoration: none;
        height: 100%; /* Ensures the anchor takes full height */
        border-radius: 5px; /* Match the list item border radius */
    }

</style>
{% endblock %}
