{% extends "fr/base.html" %}

{% block meta_description %}
<meta name="description" content="404 - Page Non Trouvée. La page demandée n'existe pas sur ToolsForImage.">
{% endblock %}

{% block title %}404 - Page Non Trouvée | ToolsForImage | Outils en ligne gratuits et complets pour flouter les visages, convertir des images, éditer, redimensionner, supprimer l'arrière-plan, flouter l'arrière-plan et bien plus encore{% endblock %}

{% block content %}
<div style="text-align: center; padding: 2em;">
    <h1>404 - Page Non Trouvée</h1>
    <p>Oups ! La page que vous recherchez n'existe pas.</p>
    <p>Revenons sur la bonne voie :</p>
    <p><a href="/{{ g.lang }}/">Retour à la Page d'Accueil</a></p>
</div>


<style>
    h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    a {
        color: var(--link-color);
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    li {
        line-height: 1.6;
    }

    .tools-list {
        display: grid;
        /* Use grid layout */
        grid-template-columns: repeat(3, 1fr);
        /* Three columns */
        gap: 20px;
        /* Space between grid items */
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        /* Center the grid */
        max-width: 1200px;
        /* Optional: set a max width for the grid */
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        /* Flexbox to center content */
        flex-direction: column;
        /* Stack children vertically */
        align-items: center;
        /* Center items horizontally */
    }

    .tools-list li:hover {
        background-color: var(--primary-color);
    }

    .tools-list a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        text-align: center;
        /* Center text */
    }

    .tools-list a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
</style>
{% endblock %}
