<footer>
    <div class="footer-container">
        <div class="company-info">
            <a href="/{{ g.lang }}/"><img src="/static/favicon.ico" alt="Logo Box 20" class="logo"></a>
            <p class="description">ToolsForImage propose un ensemble d'outils d'image en ligne gratuits, comprenant des outils de conversion et d'édition, prenant en charge tous les formats et conversions. Nous ne sauvegardons pas vos données.</p>
        </div>
        <div class="footer-section">
            <h3>Navigation</h3>
            <div class="navigate-columns">
                <ul>
                    <li><a href="/{{ g.lang }}/about">À Propos</a></li>
                    <li><a href="/{{ g.lang }}/contact-us">Contactez-nous</a></li>
                    <li><a href="/{{ g.lang }}/help">Aide</a></li>
                    <li><a href="/{{ g.lang }}/faq">FAQ</a></li>
                    <li><a href="/{{ g.lang }}/media">Média</a></li>
                    <li><a href="/{{ g.lang }}/legal">Légal</a></li>
                    <li><a href="/{{ g.lang }}/blogs">Blogs</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/our-story">Notre Histoire</a></li>
                    <li><a href="/{{ g.lang }}/team">Équipe</a></li>
                    <li><a href="/{{ g.lang }}/features">Fonctionnalités</a></li>
                    <li><a href="/{{ g.lang }}/pricing">Tarification</a></li>
                    <li><a href="/{{ g.lang }}/languages">Langues</a></li>
                    <li><a href="/{{ g.lang }}/tools">Outils</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <h3>Outils en ligne gratuits</h3>
            <div class="tools-columns">
                <ul>
                    <li><a href="/{{ g.lang }}/image-compression">Compresser l'Image</a></li>
                    <li><a href="/{{ g.lang }}/image-resize">Redimensionner l'Image</a></li>
                    <li><a href="/{{ g.lang }}/convert-image-format">Convertir l'Image</a></li>
                    <li><a href="/{{ g.lang }}/image-rotate">Faire pivoter l'Image</a></li>
                    <li><a href="/{{ g.lang }}/image-watermarking">Filigraner l'Image</a></li>
                    <li><a href="/{{ g.lang }}/image-effects">Effets d'Image</a></li>
                    <li><a href="/{{ g.lang }}/image-crop">Recadrer l'Image</a></li>
                    <li><a href="/{{ g.lang }}/blur-face">Flouter le Visage</a></li>
                    <li><a href="/{{ g.lang }}/remove-background">Supprimer l'Arrière-plan</a></li>
                    <li><a href="/{{ g.lang }}/blur-background">Flouter l'Arrière-plan</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/png-to-jpg">PNG vers JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-jpeg">PNG vers JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-bmp">PNG vers BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-tiff">PNG vers TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-webp">PNG vers WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-ico">PNG vers ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-png">JPG vers PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-jpeg">JPG vers JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-bmp">JPG vers BMP</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-tiff">JPG vers TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-webp">JPG vers WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-ico">JPG vers ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-png">JPEG vers PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-jpg">JPEG vers JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-tiff">JPEG vers TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-bmp">JPEG vers BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-webp">JPEG vers WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-ico">JPEG vers ICO</a></li>
                </ul>
                <ul>    
                    <li><a href="/{{ g.lang }}/convert/bmp-to-png">BMP vers PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-jpg">BMP vers JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-jpeg">BMP vers JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-tiff">BMP vers TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-webp">BMP vers WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-ico">BMP vers ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-png">TIFF vers PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-jpg">TIFF vers JPG</a></li>
                </ul>
                <ul>    
                    <li><a href="/{{ g.lang }}/convert/tiff-to-jpeg">TIFF vers JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-bmp">TIFF vers BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-webp">TIFF vers WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-ico">TIFF vers ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-png">WebP vers PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-jpg">WebP vers JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-jpeg">WebP vers JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-bmp">WebP vers BMP</a></li>
                </ul> 
                <ul> 
                    <li><a href="/{{ g.lang }}/convert/webp-to-tiff">WebP vers TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-ico">WebP vers ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-png">ICO vers PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-jpg">ICO vers JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-jpeg">ICO vers JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-bmp">ICO vers BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-tiff">ICO vers TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-webp">ICO vers WEBP</a></li>  
                </ul>
            </div>
        </div>
    </div>
</footer>
