{% extends "fr/base.html" %}

{% block meta_description %}
<meta name="description" content="Informations légales pour ToolsForImage - Votre ressource complète pour les outils de retouche d'images. Découvrez nos conditions de service, notre politique de confidentialité et nos informations sur les droits d'auteur.">
{% endblock %}

{% block title %}Légal ToolsForImage - Outils de retouche d'images en ligne gratuits{% endblock %}

{% block content %}
<h1>Informations légales</h1>

<div class="legal-section">
    <h2>Conditions de service</h2>
    <p>En utilisant ToolsForImage, vous acceptez de vous conformer et d'être lié par les conditions d'utilisation suivantes. Veuillez lire attentivement ces conditions.</p>
    <p>Le contenu de ce site web est uniquement à des fins d'information générale et d'utilisation. Il est susceptible d'être modifié sans préavis.</p>
    <p>Votre utilisation des informations ou matériaux de ce site web est entièrement à vos risques et périls, pour lesquels nous ne pourrons être tenus responsables.</p>
</div>

<div class="legal-section">
    <h2>Politique de confidentialité</h2>
    <p>Nous nous engageons à protéger votre vie privée. Nous ne collectons pas d'informations personnelles vous concernant lorsque vous visitez notre site web, à moins que vous ne choisissiez de nous fournir ces informations.</p>
    <p>Toutes les informations que nous collectons sont utilisées uniquement pour améliorer notre service et ne sont pas partagées avec des tiers.</p>
</div>

<div class="legal-section">
    <h2>Informations sur le droit d'auteur</h2>
    <p>Tous les contenus de ce site web, y compris le texte, les graphiques, les logos et les images, sont la propriété de ToolsForImage et sont protégés par les lois internationales sur le droit d'auteur.</p>
    <p>Vous ne pouvez pas reproduire, distribuer ou transmettre du contenu de ce site sans notre consentement écrit préalable.</p>
</div>

<div class="legal-section">
    <h2>Avertissement</h2>
    <p>Les informations contenues sur ce site web sont uniquement à des fins d'information générale. Bien que nous nous efforçons de maintenir les informations à jour et correctes, nous ne faisons aucune déclaration ou garantie de quelque nature que ce soit concernant l'exhaustivité, l'exactitude, la fiabilité, l'adéquation ou la disponibilité du site web ou des informations, produits, services ou graphiques associés contenus sur le site pour un quelconque but.</p>
</div>

<div class="legal-section">
    <h2>Contactez-nous</h2>
    <p>Si vous avez des questions concernant nos politiques légales, veuillez nous contacter à <a href="mailto:mlbrothers2024@gmail.com">mlbrothers2024@gmail.com</a>.</p>
</div>



<style>
    main {
        max-width: 800px;
        margin: 10px auto 10px auto;
        padding: 20px; /* Added padding for consistency */
        background-color: var(--box-color); /* Background color matching the theme */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        border: var(--background-color) 3px solid; /* Consistent border */
    }

    h1 {
        text-align: center;
        font-weight: 700;
        margin-bottom: 1.5em;
        color: var(--secondary-color); /* Primary color for main heading */
    }

    .legal-section {
        margin-bottom: 2em;
        padding: 1.5em; /* Increased padding for better spacing */
        background-color: var(--box-color); /* Using consistent background color */
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for individual sections */
    }

    .legal-section h2 {
        font-size: 1.4em; /* Slightly larger font size for section headings */
        font-weight: 600;
        color: var(--secondary-color); /* Matching with link hover color */
        margin-bottom: 0.75em; /* Spacing below section headings */
    }

    .legal-section p {
        font-size: 16px;
        line-height: 1.6; /* Improved readability */
        margin-bottom: 1em; /* Spacing between paragraphs */
    }

    a {
        color: var(--secondary-color); /* Link color matching theme */
        text-decoration: none;
        font-weight: 700; /* Bold links for emphasis */
    }

    a:hover {
        color: var(--box-hover-text-color); /* Hover effect on links */
    }

    
</style>

{% endblock %}
