{% extends "fr/base.html" %}

{% block meta_description %}
<meta name="description" content="Page des médias pour ToolsForImage - À venir">
{% endblock %}

{% block title %}Médias ToolsForImage - Outils de retouche d'images en ligne gratuits{% endblock %}

{% block content %}
<h1>Médias</h1>
<p>À venir...</p>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    
</style>
{% endblock %}
