{% extends "fr/base.html" %}

{% block meta_description %}
<meta name="description" content="Page des médias pour ToolsForImage - À venir">
{% endblock %}

{% block title %}Médias | ToolsForImage | Outils en ligne gratuits et complets pour flouter les visages, convertir des images, éditer, redimensionner, supprimer l'arrière-plan, flouter l'arrière-plan et bien plus encore{% endblock %}

{% block content %}
<h1>Médias</h1>
<p>À venir...</p>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    
</style>
{% endblock %}
