<div>
    <br>
    <h2>Nos autres outils d'image gratuits</h2>
    <ul class="tools-list">
        <li><a href="/{{ g.lang }}/image-compression">Compression d'image</a></li>
        <li><a href="/{{ g.lang }}/image-resize">Redimensionnement d'image</a></li>
        <li><a href="/{{ g.lang }}/convert-image-format">Conversion de format d'image</a></li>
        <li><a href="/{{ g.lang }}/image-rotate">Rotation d'image</a></li>
        <li><a href="/{{ g.lang }}/image-watermarking">Filigrane d'image</a></li>
        <li><a href="/{{ g.lang }}/image-effects">Effets d'image</a></li>
        <li><a href="/{{ g.lang }}/image-crop">Rogner l'image</a></li>
        <li><a href="/{{ g.lang }}/blur-face">Flouter le visage</a></li>
        <li><a href="/{{ g.lang }}/remove-background">Supprimer l'arrière-plan</a></li>
        <li><a href="/{{ g.lang }}/blur-background">Flouter l'arrière-plan</a></li>
    </ul>
    <br>
    <br>
    <h2 style="text-align: center;">Outils de conversion de format d'image gratuits</h2>
    <ul class="tools-list">
        <li><a href="/{{ g.lang }}/convert/png-to-jpg">Convertir PNG en JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-jpeg">Convertir PNG en JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-bmp">Convertir PNG en BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-tiff">Convertir PNG en TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-webp">Convertir PNG en WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-ico">Convertir PNG en ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-png">Convertir JPG en PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-jpeg">Convertir JPG en JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-bmp">Convertir JPG en BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-tiff">Convertir JPG en TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-webp">Convertir JPG en WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-ico">Convertir JPG en ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-png">Convertir JPEG en PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-jpg">Convertir JPEG en JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-bmp">Convertir JPEG en BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-tiff">Convertir JPEG en TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-webp">Convertir JPEG en WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-ico">Convertir JPEG en ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-png">Convertir BMP en PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-jpg">Convertir BMP en JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-jpeg">Convertir BMP en JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-tiff">Convertir BMP en TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-webp">Convertir BMP en WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-ico">Convertir BMP en ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-png">Convertir TIFF en PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-jpg">Convertir TIFF en JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-jpeg">Convertir TIFF en JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-bmp">Convertir TIFF en BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-webp">Convertir TIFF en WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-ico">Convertir TIFF en ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-png">Convertir WebP en PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-jpg">Convertir WebP en JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-jpeg">Convertir WebP en JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-bmp">Convertir WebP en BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-tiff">Convertir WebP en TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-ico">Convertir WebP en ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-png">Convertir ICO en PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-jpg">Convertir ICO en JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-jpeg">Convertir ICO en JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-bmp">Convertir ICO en BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-tiff">Convertir ICO en TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-webp">Convertir ICO en WebP</a></li>
    </ul>
</div>

<style>
    h2{
        font-size: 32px;
    }
    .tool-name {
        font-weight: bold;
    }

    .tools-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 1200px;
        font-weight: 700;
        font-style: normal;
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        border: var(--background-color) 3px solid;
        flex-direction: column;
        align-items: center;
        line-height: 1.6;
    }

    .tools-list li:hover {
        border: var(--link-hover-color) 3px solid;
    }

    .tools-list a {
        display: block;
        padding: 15px;
        background-color: var(--box-color);
        color: var(--link-color);
        text-decoration: none;
        height: 100%;
        border-radius: 5px;
    }
</style>