:root {
    --font-family: "Bree Serif", "sans-serif";
    --primary-color: #93b3be;
    --secondary-color: #000000;
    --background-color: #ffffff;
    --link-color: #000000;
    --link-hover-color: #344b53;
    --box-color: #ffffff;
    --box-hover-color: #000000;
    --box-hover-text-color: #287791;
    --footer-hover-text-color: #e0e0e0;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

h1{
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
}

nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
}

.more-menu {
    position: relative;
    display: inline-block;
}

.more-menu-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.more-menu-content a {
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.more-menu-content a:hover {
    background-color: var(--box-color);
    color: var(--link-hover-color);
    text-decoration: underline;
}

.more-menu:hover .more-menu-content {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 4px 0;
}

.nav-links {
    display: flex;
    gap: 1em;
}

.nav-links.active {
    display: block;
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }
}

main {
    padding: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1em;
}

.grid-item {
    background-color: var(--box-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 2em;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-align: center;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--box-hover-text-color);
    background-color: #e0e0e0;
}

.grid-item h2 {
    margin-top: 0;
}

.grid-item img {
    width: 50px;
    height: 50px;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-section {
    flex-grow: 0; /* Prevent footer sections from expanding */
    flex-basis: auto; /* Allow content to take only needed space */
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
}

.footer-section h3 {
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 5px;
    margin-top: 0px;
}

.footer-section ul li {
    margin-bottom: 0.5em;
    padding-top: 10px;
}

.footer-section ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--link-hover-color);
}

.navigate-columns {
    display: flex;
    justify-content: center; /* Center the columns */
    gap: 20px; /* Adjust the gap between the two columns as needed */
    margin: 0 auto;
    flex-grow: 0; /* Make sure it doesn’t stretch */
}

.navigate-columns ul {
    list-style: none;
    padding: 5px;
}

.navigate-columns ul li {
    margin-bottom: 0.5em;
}

.navigate-columns ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.navigate-columns ul li a:hover {
    color: var(--background-color);
}

.company-info {
    flex: 2;
    margin: 0 auto;
    max-width: 300px;
}

.company-info img {
    border: black 2px solid;
    border-radius: 17px;
}

.company-info p {
    font-size: 16px;
}

.tools-columns {
    display: flex;
    gap: 20px; /* Adjust the gap between the two columns as needed */
    justify-content: center;
}

.tools-columns ul {
    list-style: none;
    padding: 5px;
    min-width: 100px;
}

.tools-columns ul li {
    margin-bottom: 0.5em;
}

.tools-columns ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.tools-columns ul li a:hover {
    color: var(--background-color);
}


.logo {
    width: 80px;
    margin-bottom: 1em;
}

.description {
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section,
    .company-info {
        margin-bottom: 1.5em;
        text-align: center;
    }

    .footer-section ul li {
        margin-bottom: 0.75em;
    }
}
