{% extends "zh/base.html" %}

{% block meta_description %}
<meta name="description" content="404 - 页面未找到。请求的页面在ToolsForImage上不存在。">
{% endblock %}

{% block title %}404 - 页面未找到 | ToolsForImage | 全面免费的在线工具：模糊人脸、图片转换、编辑、调整大小、去除背景、模糊背景等{% endblock %}

{% block content %}
<div style="text-align: center; padding: 2em;">
    <h1>404 - 页面未找到</h1>
    <p>哎呀！您正在寻找的页面不存在。</p>
    <p>让我们带您回到正轨：</p>
    <p><a href="/{{ g.lang }}/">返回首页</a></p>
</div>

<style>
    h1 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    a {
        color: var(--link-color);
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    li {
        line-height: 1.6;
    }

    .tools-list {
        display: grid;
        /* Use grid layout */
        grid-template-columns: repeat(3, 1fr);
        /* Three columns */
        gap: 20px;
        /* Space between grid items */
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        /* Center the grid */
        max-width: 1200px;
        /* Optional: set a max width for the grid */
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        /* Flexbox to center content */
        flex-direction: column;
        /* Stack children vertically */
        align-items: center;
        /* Center items horizontally */
    }

    .tools-list li:hover {
        background-color: var(--primary-color);
    }

    .tools-list a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
        text-align: center;
        /* Center text */
    }

    .tools-list a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
</style>
{% endblock %}
