<footer>
    <div class="footer-container">
        <div class="company-info">
            <a href="/{{ g.lang }}/"><img src="/static/favicon.ico" alt="Box 20 Logo" class="logo"></a>
            <p class="description">ToolsForImage 提供一套免费的在线图像工具，包括转换和编辑工具，支持所有格式和转换。</p>
        </div>
        <div class="footer-section">
            <h3>导航</h3>
            <div class="navigate-columns">
                <ul>
                    <li><a href="/{{ g.lang }}/about">关于我们</a></li>
                    <li><a href="/{{ g.lang }}/contact-us">联系我们</a></li>
                    <li><a href="/{{ g.lang }}/help">帮助</a></li>
                    <li><a href="/{{ g.lang }}/faq">常见问题</a></li>
                    <li><a href="/{{ g.lang }}/media">媒体</a></li>
                    <li><a href="/{{ g.lang }}/legal">法律</a></li>
                    <li><a href="/{{ g.lang }}/blogs">博客</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/our-story">我们的故事</a></li>
                    <li><a href="/{{ g.lang }}/team">团队</a></li>
                    <li><a href="/{{ g.lang }}/features">功能</a></li>
                    <li><a href="/{{ g.lang }}/pricing">定价</a></li>
                    <li><a href="/{{ g.lang }}/languages">语言</a></li>
                    <li><a href="/{{ g.lang }}/tools">工具</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-section">
            <h3>在线免费工具</h3>
            <div class="tools-columns">
                <ul>
                    <li><a href="/{{ g.lang }}/image-compression">压缩图像</a></li>
                    <li><a href="/{{ g.lang }}/image-resize">调整图像大小</a></li>
                    <li><a href="/{{ g.lang }}/convert-image-format">转换图像格式</a></li>
                    <li><a href="/{{ g.lang }}/image-rotate">旋转图像</a></li>
                    <li><a href="/{{ g.lang }}/image-watermarking">图像水印</a></li>
                    <li><a href="/{{ g.lang }}/image-effects">图像效果</a></li>
                    <li><a href="/{{ g.lang }}/image-crop">裁剪图像</a></li>
                    <li><a href="/{{ g.lang }}/blur-face">模糊面部</a></li>
                    <li><a href="/{{ g.lang }}/remove-background">去除背景</a></li>
                    <li><a href="/{{ g.lang }}/blur-background">模糊背景</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/png-to-jpg">PNG 转 JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-jpeg">PNG 转 JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-bmp">PNG 转 BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-tiff">PNG 转 TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-webp">PNG 转 WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/png-to-ico">PNG 转 ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-png">JPG 转 PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-jpeg">JPG 转 JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-bmp">JPG 转 BMP</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-tiff">JPG 转 TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-webp">JPG 转 WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpg-to-ico">JPG 转 ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-png">JPEG 转 PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-jpg">JPEG 转 JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-tiff">JPEG 转 TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-bmp">JPEG 转 BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-webp">JPEG 转 WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/jpeg-to-ico">JPEG 转 ICO</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-png">BMP 转 PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-jpg">BMP 转 JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-jpeg">BMP 转 JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-tiff">BMP 转 TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-webp">BMP 转 WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/bmp-to-ico">BMP 转 ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-png">TIFF 转 PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-jpg">TIFF 转 JPG</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-jpeg">TIFF 转 JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-bmp">TIFF 转 BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-webp">TIFF 转 WebP</a></li>
                    <li><a href="/{{ g.lang }}/convert/tiff-to-ico">TIFF 转 ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-png">WebP 转 PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-jpg">WebP 转 JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-jpeg">WebP 转 JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-bmp">WebP 转 BMP</a></li>
                </ul>
                <ul>
                    <li><a href="/{{ g.lang }}/convert/webp-to-tiff">WebP 转 TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/webp-to-ico">WebP 转 ICO</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-png">ICO 转 PNG</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-jpg">ICO 转 JPG</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-jpeg">ICO 转 JPEG</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-bmp">ICO 转 BMP</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-tiff">ICO 转 TIFF</a></li>
                    <li><a href="/{{ g.lang }}/convert/ico-to-webp">ICO 转 WEBP</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
