{% extends "zh/base.html" %}

{% block meta_description %}
<meta name="description" content="ToolsForImage的媒体页面 - 敬请期待">
{% endblock %}

{% block title %}媒体 | ToolsForImage | 综合免费的在线工具，提供模糊人脸、图像转换、编辑、调整大小、去除背景、模糊背景等功能{% endblock %}

{% block content %}
<h1>媒体</h1>
<p>敬请期待...</p>

<style>
    h1 {
        color: var(--secondary-color);
        font-family: var(--font-family);
        text-align: center;
    }

    main {
        padding: 2em;
        text-align: center;
    }

    
</style>
{% endblock %}
