<div>
    <br>
    <h2>我们的其他免费图像工具</h2>
    <ul class="tools-list">
        <li><a href="/{{ g.lang }}/image-compression">图像压缩</a></li>
        <li><a href="/{{ g.lang }}/image-resize">图像调整大小</a></li>
        <li><a href="/{{ g.lang }}/convert-image-format">转换图像格式</a></li>
        <li><a href="/{{ g.lang }}/image-rotate">图像旋转</a></li>
        <li><a href="/{{ g.lang }}/image-watermarking">图像水印</a></li>
        <li><a href="/{{ g.lang }}/image-effects">图像效果</a></li>
        <li><a href="/{{ g.lang }}/image-crop">裁剪图像</a></li>
        <li><a href="/{{ g.lang }}/blur-face">模糊面部</a></li>
        <li><a href="/{{ g.lang }}/remove-background">去除背景</a></li>
        <li><a href="/{{ g.lang }}/blur-background">模糊背景</a></li>
    </ul>
    <br>
    <br>
    <h2 style="text-align: center;">免费图像格式转换工具</h2>
    <ul class="tools-list">
        <li><a href="/{{ g.lang }}/convert/png-to-jpg">将PNG转换为JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-jpeg">将PNG转换为JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-bmp">将PNG转换为BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-tiff">将PNG转换为TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-webp">将PNG转换为WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/png-to-ico">将PNG转换为ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-png">将JPG转换为PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-jpeg">将JPG转换为JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-bmp">将JPG转换为BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-tiff">将JPG转换为TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-webp">将JPG转换为WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpg-to-ico">将JPG转换为ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-png">将JPEG转换为PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-jpg">将JPEG转换为JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-bmp">将JPEG转换为BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-tiff">将JPEG转换为TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-webp">将JPEG转换为WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/jpeg-to-ico">将JPEG转换为ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-png">将BMP转换为PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-jpg">将BMP转换为JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-jpeg">将BMP转换为JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-tiff">将BMP转换为TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-webp">将BMP转换为WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/bmp-to-ico">将BMP转换为ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-png">将TIFF转换为PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-jpg">将TIFF转换为JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-jpeg">将TIFF转换为JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-bmp">将TIFF转换为BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-webp">将TIFF转换为WebP</a></li>
        <li><a href="/{{ g.lang }}/convert/tiff-to-ico">将TIFF转换为ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-png">将WebP转换为PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-jpg">将WebP转换为JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-jpeg">将WebP转换为JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-bmp">将WebP转换为BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-tiff">将WebP转换为TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/webp-to-ico">将WebP转换为ICO</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-png">将ICO转换为PNG</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-jpg">将ICO转换为JPG</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-jpeg">将ICO转换为JPEG</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-bmp">将ICO转换为BMP</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-tiff">将ICO转换为TIFF</a></li>
        <li><a href="/{{ g.lang }}/convert/ico-to-webp">将ICO转换为WebP</a></li>
    </ul>
</div>

<style>
    h2{
        font-size: 32px;
    }
    .tool-name {
        font-weight: bold;
    }

    .tools-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 1200px;
        font-weight: 700;
        font-style: normal;
    }

    .tools-list li {
        background-color: var(--box-color);
        padding: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
        display: flex;
        border: var(--background-color) 3px solid;
        flex-direction: column;
        align-items: center;
        line-height: 1.6;
    }

    .tools-list li:hover {
        border: var(--link-hover-color) 3px solid;
    }

    .tools-list a {
        display: block;
        padding: 15px;
        background-color: var(--box-color);
        color: var(--link-color);
        text-decoration: none;
        height: 100%;
        border-radius: 5px;
    }
</style>